<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario de regsitro de productos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    </head>
    <body class="vh-100 d-flex flex-column justify-content-center align-items-center" style="background-color: turquoise;">
        <form 
            class="form pt-4 pb-4 pl-5 pr-5 d-flex flex-column align-itemsc-center w-100 rounded-3" 
            id="form"
            style="background-color: white; max-width: 400px;"
        >
            <label for="title" class="fw-bold" style="margin-left: 12.5%;">Titulo</label>
            <input 
                type="text" 
                name="title" 
                class="form-cotrol form-control-md mt-1 mb-2 m-auto w-75"
                placeholder="Escuadra"
                required
            />
            <label for="title" class="fw-bold" style="margin-left: 12.5%;">Precio</label>
            <input 
                type="number" 
                name="price" 
                class="form-cotrol form-control-md mt-1 mb-2 m-auto w-75"
                placeholder="123.45"
                required
                step="any"
            />
            <label for="title" class="fw-bold" style="margin-left: 12.5%;">Foto URL</label>
            <input 
                type="text" 
                name="thumbnail" 
                class="form-cotrol form-control-md w-75 mt-1 m-auto"
                placeholder="https://cdn3.iconfinder.com/data/icons/education-209/64/ruler-triangle-stationary-school-256.png"
                required
            />
            <button class="btn btn-primary m-auto mt-4 rounded-3" type="submit">Cargar producto</button>
        </form>
        <div id="listing-products"></div>
        <div class="alert alert-success position-fixed vw-100 text-center bottom-0 mb-0 d-none" 
            role="alert" 
            id="alert-success"
        >
            Producto cargado satisfactoriamente
        </div>
        <div 
            class="alert alert-danger position-fixed vw-100 text-center bottom-0 mb-0 d-none" 
            role="alert"
            id="alert-failed"
        >
        </div>
    </body>
    <script id="listing" type="text/x-handlebars-template">
        {{#if products.length}}
            <table class="table table-dark table-hover text-center mt-3" style="max-width: 400px; min-width: 400px;">
                <thead class="table-dark">
                    <tr class="table-dark">
                        <th scope="col" class="table-dark align-middle">Nombre</th>
                        <th scope="col" class="table-dark align-middle">Precio</th>
                        <th scope="col" class="table-dark align-middle">Foto</th>
                    </tr>
                </thead>
                <tbody class="table-dark">
                    {{#each products}}
                        <tr class="table-dark">
                            <td class="table-dark align-middle">{{this.title}}</td>
                            <td class="table-dark align-middle">{{this.price}}</td>
                            <td class="table-dark align-middle">
                                <img 
                                    src="{{this.thumbnail}}" 
                                    alt="{{this.title}}" 
                                    style="width: 50px; height: 50px;"
                                />
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <h1 class="text-center mt-3">No hay productos cargados</h1>
        {{/if}}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="./js/products.js" type="text/javascript"></script>
</html>